@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
    <style type="text/css">
        body {
            font-size: 12px;
        }

        .textbox, .textbox-text {
            -moz-border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .red-star {
            color: red;
            font-size: 15px;
        }
    </style>
}

<div class="q-condition">
    <div class="btn-container">
        <a href="#" id="btnQuery" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        <a href="#" id="btnPrint" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="width:80px">打印</a>
        <a href="#" id="btnEdit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="width:80px">修改</a>
    </div>
    <hr />
    <table>
        <tr>
            <td style="width:250px;"> 驾驶证编号：<input class="easyui-textbox" id="id_no" style="width:150px"></td>
            <td style="width:250px;">姓名：<input class="easyui-textbox" id="name" style="width:150px"></td>
            <td style="width:250px;">车牌号码：<input class="easyui-textbox" id="car_number" style="width:150px"></td>
            <td style ="width:250px;">准驾车型：<input id="car_type" style="width:150px"></td>
            <td style="width:100%"></td>

        </tr>
        
    </table>
</div>
<hr />
<div class="q-detail">
    <table id="dgDetail"></table>
</div>
<div id="print" style="display:none;"></div>
<div id="bb" style="display:none;">
    <a href="#" class="easyui-linkbutton c5" style="width:60px" onclick="print()" data-options="plain:true">打印</a>
    <a href="#" class="easyui-linkbutton c2" style="width:60px" onclick="cancelPrint()" data-options="plain:true">取消</a>
</div>

<div id="dlg-edit" class="easyui-dialog" style="width:800px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="license" method="post" novalidate style="margin:0; padding:20px 50px">
        <input type="hidden" name="id" id="id" required />
        <table style="table-layout:fixed;margin-left:10px;margin-right:10px;margin-top:20px;width:98%;height:350px;">
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>驾驶证编号:</td>
                <td style="width:200px;"><input class="easyui-textbox" name="id_no" id="id_no" readonly required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车型:</td>
                <td style="width:100%;"><input name="car_type" id="car_type_1" required></td>
            </tr>
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>姓名:</td>
                <td style="width:100%;"><input class="easyui-textbox" name="name" id="zsxs_name" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>性别:</td>
                <td style="width:200px;"><input name="sex" id="sex" required></td>

            </tr>
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>国籍:</td>
                <td style="width:100%;"><input class="easyui-textbox" name="nation" id="zsxs_nation" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>地区:</td>
                <td style="width:200px;"><input name="region_no" id="zsxs_region" required></td>
            </tr>
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>住址:</td>
                <td style="width:200px;"><input class="easyui-textbox" name="addr" id="zsxs_addr" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车牌号码:</td>
                <td style="width:100%;"><input class="easyui-textbox" name="car_number" id="zsxs_car_number" required></td>
            </tr>
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>发动机号码:</td>
                <td style="width:200px;"><input class="easyui-textbox" name="motor_no" id="zsxs_motor_no" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车架号码:</td>
                <td style="width:100%;"><input class="easyui-textbox" name="carframe_no" id="zsxs_cardframe_no" required></td>
            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车辆颜色:</td>
                <td style="width:200px;"><input class="easyui-textbox" name="car_color" id="zsxs_car_color" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>出厂日期:</td>
                <td style="width:100%;"><input class="easyui-datebox" name="product_date" id="zsxs_produce_date" required></td>
            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>核定载客:</td>
                <td style="width:200px;"><input class="easyui-textbox" name="passenger" id="zsxs_passenger" required></td>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>发证日期:</td>
                <td style="width:100%;"><input class="easyui-datebox" name="issue_license_date" id="zsxs_issue_license_date" required></td>
            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>有效期:</td>
                <td colspan="3" style="width:200px;"><input class="easyui-datebox" name="start_date" id="start_date" required>&nbsp;&nbsp;至&nbsp;&nbsp;<input class="easyui-datebox" name="end_date" id="end_date" required></td>
            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>人员信息像:</td>
                <td><button type="button" class="btn btn-info btn-sm" style="width:78px" id="zs_select_user_info">拍照</button></td>
                <td><img src="#" id="zs_user_info_photo" style=" height: 50px;width: 100px;display:none" /></td>
                <td><input type="hidden" name="user_photo_base64" id="zs_user_info_input" value="" required /></td>
            </tr>
            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车辆照1:</td>
                <td>
                    <input id="zsxs_car_1_input" class="easyui-filebox"
                           data-options="buttonText:'选择照片',accept: 'image/*'" />
                </td>
                <td><img src="" id="zsxs_car_1_img" style=" height :50px;width :100px;display:none"></td>
                <td><input type="hidden" name="car_1_value" id="zsxs_car_1_value" value="" required></td>

            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车辆照2:</td>
                <td>
                    <input id="zsxs_car_2_input" class="easyui-filebox"
                           data-options="buttonText:'选择照片',accept: 'image/*'" />
                </td>
                <td><img src="" id="zsxs_car_2_img" style=" height :50px;width :100px;display:none"></td>
                <td><input type="hidden" name="car_2_value" id="zsxs_car_2_value" value="" required></td>

            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>发动机号码:</td>
                <td>
                    <input id="zsxs_engine_no_input" class="easyui-filebox"
                           data-options="buttonText:'选择照片',accept: 'image/*'" />
                </td>
                <td><img src="" id="zsxs_engine_no_img" style=" height :50px;width :100px;display:none"></td>
                <td><input type="hidden" name="engine_no_value" id="zsxs_engine_no_value" value="" required></td>

            </tr>

            <tr>
                <td style="width:120px;text-align:right;"><span class="red-star">*</span>车架号码:</td>
                <td>
                    <input id="zsxs_vin_no_input" class="easyui-filebox"
                           data-options="buttonText:'选择照片',accept: 'image/*'" />
                </td>
                <td><img src="" id="zsxs_vin_no_img" style=" height:50px;width:100px;display:none"></td>
                <td><input type="hidden"  name="vin_no_value" id="zsxs_vin_no_value" value="" required></td>

            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="save()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-edit').dialog('close')" style="width:90px">取消</a>
</div>

<div id="zs_photoDialog">
    <table>
        <tr>
            <td><video id="zs_userinfo_video" width="300" height="200" autoplay="autoplay"></video></td>
            <td><button type="button" class="btn btn-primary btn-sm" style="width:78px" onclick="takePhoto('zs_userinfo_video', 'zs_userinfo_canvas')">拍照</button></td>
            <td><button id="zs_userinfo_clean" class="btn btn-primary btn-sm" onclick="cleanCanvas(this.id)" type="button">重置</button></td>
            <td><canvas id="zs_userinfo_canvas" width="300" height="200" /></td>
        </tr>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        $("#zs_select_user_info").click(function () {
            $("#zs_photoDialog").dialog("open");
        });
        function save() {
            if ($('#license').form('validate')) {
                $.ajax({
                    url: '/api/DriverLicenseApi/ModifyZsDrivingPermit',
                    method: 'post',
                    dataType: 'json',
                    data: $('#license').serialize(),
                    success: function (result) {
                        if (result.success) {
                            $.messager.alert("提示", "修改成功", 'info', function (r) {  });
                            $('#dlg-edit').dialog('close');        // close the dialog
                            $('#dgDetail').datagrid('reload');
                        } else {
                            $.messager.alert("提示", "修改失败");
                        }
                    }
                });
            }
        }

        $(function () {
            initPhotoDialog();
        });
        var oldBase64 = null;
        //初始化人员照片信息采集对话框
        function initPhotoDialog() {
            $('#zs_photoDialog').dialog({
                title: '人员照片信息采集',
                width: 800,
                height: 500,
                closed: true,
                cache: false,
                onOpen: function () {
                    initPhoto("zs_userinfo_video");//初始化摄像头组件
                },
                onClose: function () {
                    cleanCanvas("zs_userinfo_canvas");//清除缓存
                    closePhoto("zs_userinfo_video");//关闭摄像头
                },
                buttons: [{
                    text: '确定',
                    handler: function () {
                        var data = getCanvasForBase64("zs_userinfo_canvas");//获取照片转为base64
                        $("#zs_user_info_photo").attr("src", data);//存储为缩略图
                        if (oldBase64 == null) {
                            oldBase64 = $('#zs_user_info_input').val();
                        }
                        $("#zs_user_info_input").attr("value", data.substring(data.indexOf(',') + 1));//将base64存储到隐藏域中,做非空校验
                        $("#zs_user_info_photo").css("display", "");
                        $("#zs_photoDialog").dialog("close");//关闭dialog
                        cleanCanvas("zs_userinfo_canvas");//清除缓存
                        closePhoto("zs_userinfo_video");//关闭摄像头
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        cleanCanvas("zs_userinfo_canvas");//清除缓存
                        closePhoto("zs_userinfo_video");//关闭摄像头
                        if (oldBase64 != null) {
                            $("#zs_user_info_input").attr("value", oldBase64)// 还原数据
                        }
                        $("#zs_photoDialog").dialog("close");//关闭dialog

                    }
                }]
            });
        }

         function print(){
       var body = $('#print').dialog('body');
       var oWin = window.open("", "_blank");
        oWin.document.write(body.find("#content").html());
        oWin.focus();
        oWin.document.close();
        oWin.print();
        //oWin.close();
        return false;
    }
    function cancelPrint(){
      $('#print').dialog('close');
    }
        function getQueryParams() {
            var params = {};
            var id_no = $('#id_no').textbox('getValue');
            var name = $('#name').textbox('getValue');
            var permitted_card_type = $('#car_type').combobox('getValue');
            params.id_no = id_no;
            params.name = name;
            params.permitted_car_type_no = permitted_card_type;


            return params;
        }
         function initPrint(){
            $('#print').dialog({
                    width:430,
                    height:450,
                    noheader:true,
                    border:false,
                    modal:true,
                    onLoad:function(){
                         var ckRows = $('#dgDetail').datagrid('getChecked');
                         var data=ckRows[0];
                         var sendLicenseDate = new Date(data.issue_license_date);
                         var body = $('#print').dialog('body');
                         var html = body.html() .replace(/_car_num/g,data.car_number).
                         replace(/_car_type/g,data.car_type).
                         replace(/_car_owner/g,data.name).
                         replace(/_owner_addr/g,data.addr).
                         replace(/_engine_no/g,data.motor_no).
                         replace(/_frame_no/g,data.carframe_no).
                         replace(/_check_passengers/g,data.passenger).
                         replace(/_car_color/g,data.car_color).
                         replace(/_send_date_year/g,sendLicenseDate.getFullYear()).
                         replace(/_send_date_month/g,sendLicenseDate.getMonth() + 1).
                         replace(/_send_date_day/g,sendLicenseDate.getDate());

                         body.html(html);
                    },
                    href:'/PrintTemplate/DrivingLicenseTemplate.html',
                    buttons:'#bb'
       });
     $('#print').dialog('open');
    }
        function initBtn() {
            $('#btnQuery').linkbutton({
                onClick: function () {
                    $('#dgDetail').datagrid('reload');
                }

            });
            $('#btnPrint').linkbutton({
                onClick: function () {
                    var ckRows = $('#dgDetail').datagrid('getChecked');
                    if (ckRows.length <= 0) {
                        $.messager.alert('提示', '请先选中一行需要打印的数据!', 'info');
                        return;
                    }
                    initPrint();
                }

            });

            $('#btnEdit').linkbutton({
                onClick: function () {
                    var ckRows = $('#dgDetail').datagrid('getSelected');
                    if (ckRows) {
                        $('#license').form('load', ckRows);
                        $('#zs_user_info_photo').prop('src', 'data:image/jpeg;base64,' + ckRows.user_photo_base64).show();
                        $('#zsxs_car_1_img').prop('src', 'data:image/jpeg;base64,' + ckRows.car_1_value).show();
                        $('#zsxs_car_2_img').prop('src', 'data:image/jpeg;base64,' + ckRows.car_2_value).show();
                        $('#zsxs_engine_no_img').prop('src', 'data:image/jpeg;base64,' + ckRows.engine_no_value).show();
                        $('#zsxs_vin_no_img').prop('src', 'data:image/jpeg;base64,' + ckRows.vin_no_value).show();
                        $('#dlg-edit').dialog('open').dialog('center');
                    } else {
                        $.messager.alert('提示', '请先选中一行数据!', 'info');
                    }
                }
            });
        }
        function initQueryUI() {
            $('#car_type').combobox({
                valueField: 'type_no',
                textField: 'type_name',
            });
            var url = '../../api/PermittedCarTypeApi/QueryAll';
            $.post(url, {}, 'json')
           .success(function (ret) {
               if (ret.success) {
                   $('#car_type').combobox('loadData', ret.data);
               }
           });

        }
        function initGrid() {
            //var height = $(window).height()-5;
            var url = "/api/DriverLicenseApi/queryDrivingPermitByPage";
            $('#dgDetail').datagrid({
                url: url,
                pagination: true,
                pageSize: 10,
                pageList: [10, 20, 30, 40, 50],
                checkOnSelect: true,
                striped: true,
                showHeader: true,
                checkbox: true,
                singleSelect: true,
                rownumbers: true,
                onBeforeLoad: function (param) {
                    var otherParams = getQueryParams();
                    return $.extend(param, otherParams);
                },
                onLoadError: function () { },
                toolbar: '#toolbar',
                width: '100%',
                height: '100%',
                columns: [[
                    { field: 'ck', checkbox: true },
                    { field: 'id_no', title: '驾驶证编号', width: 160, halign: 'center', align: 'left' },
                    { field: 'name', title: '姓名', width: 80, halign: 'center', align: 'left' },
                    {
                        field: 'sex', title: '性别', width: 50, halign: 'center', align: 'left', formatter: function (value, row, index) {
                            if (value == '0') {
                                return '男';
                            }
                            return '女';
                        }
                    },
                    { field: 'car_type', title: '车型', width: 80, halign: 'center', align: 'left' },
                    { field: 'region_name', title: '区域', width: 80, halign: 'center', align: 'left' },
                    { field: 'car_number', title: '车牌号码', width: 100, halign: 'center', align: 'left' },
                    { field: 'start_date', title: '有效期起', width: 180, halign: 'center', align: 'left' },
                    { field: 'end_date', title: '有效期止', width: 180, halign: 'center', align: 'left' },
                ]]
            });
        }
        function initUI() {
            initBtn();
            initQueryUI();
            initGrid();

        }

        $(function () {
            initUI();
            $('#sex').combobox({
                valueField: 'id',
                width: 180,
                panelHeight: 70,
                editable: false,
                textField: 'text',
                value: 0,
                data: [{ id: 0, text: '男' }, { id: 1, text: '女' }]
            });
            $('#zsxs_region').combobox({
                valueField: 'region_no',
                width: 180,
                panelHeight: 50,
                editable: false,
                textField: 'region_name',
            });
            var url = '/api/RegionApi/QueryAll';
            $.post(url, {}, 'json')
            .success(function (ret) {
                if (ret.success) {
                    $('#zsxs_region').combobox('loadData', ret.data);
                }
            });

            $('#car_type_1').combobox({
                valueField: 'type_no',
                width: 180,
                editable: false,
                textField: 'type_name',
            });
            url = '../../api/PermittedCarTypeApi/QueryAll';
            $.post(url, {}, 'json')
           .success(function (ret) {
               if (ret.success) {
                   $('#car_type_1').combobox('loadData', ret.data);
               }
           });
           selectFileAndDisplay("zsxs_car_1_input", "zsxs_car_1_img", "zsxs_car_1_value");
           selectFileAndDisplay("zsxs_car_2_input", "zsxs_car_2_img", "zsxs_car_2_value");

           selectFileAndDisplay("zsxs_engine_no_input", "zsxs_engine_no_img", "zsxs_engine_no_value");
           selectFileAndDisplay("zsxs_vin_no_input", "zsxs_vin_no_img", "zsxs_vin_no_value");
        })
    </script>
}