@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
    <style type="text/css">
        html, body {
            font-size: 12px;
            height: 85%;
        }

        .textbox, .textbox-text {
            -moz-border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
        }

        #query-params {
            width: 100%;
        }

        label {
            width: 100px;
        }

        form input {
            width: 500px;
        }

        .red-star {
            color: red;
        }
    </style>
}

    <div class="q-condition">
        <div class="btn-container">
            <a href="#" onclick="edit()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="width:60px">编辑</a>
            <a href="#" onclick="del()" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" style="width:60px">删除</a>
            <a href="#" onclick="showPic()" class="easyui-linkbutton" data-options="iconCls:'icon-pic'" style="width:80px">查看图片</a>
            <a href="#" onclick="showPrint()" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="width:60px">打印</a>
        </div>
        <hr />
        <table id="query-params">
            <tr>
                <td><label>编号：</label><input class="easyui-textbox" id="id" /></td>
                <td><label>事故时间(起)：</label><input class="easyui-datetimebox" id="timeBegin" /></td>
                <td><label>事故时间(止)：</label><input class="easyui-datetimebox" id="timeEnd" /></td>
                <td><label>事故地点：</label><input class="easyui-textbox" id="happenAddr" /></td>
                <td><label>调解员：</label><input class="easyui-textbox" id="accidentMediator" /></td>
            </tr>
            <tr>
                <td><label>甲方当事人：</label><input class="easyui-textbox" id="firstPartyMan" /></td>
                <td><label>乙方当事人：</label><input class="easyui-textbox" id="secondPartyMan" /></td>
                <td><label>调解单位：</label><input class="easyui-textbox" id="mediationUnit" /></td>
                <td></td>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="query()" style="width:80px">查询</a></td>
            </tr>
        </table>
    </div>
    <hr />
<table id="dataGrid"></table>
<div id="toolbar" style="display:none;">
    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="edit()"><i class="glyphicon glyphicon-pencil"></i>编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="del()"><i class="glyphicon glyphicon-minus"></i>删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="showPic()"><i class="glyphicon glyphicon-picture"></i>查看图片</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="showPrint()"><i class="glyphicon glyphicon-print"></i>打印</a>
</div>
<div id="print" style="display:none;"></div>
<div id="bb" style="display:none;">
    <a href="#" class="easyui-linkbutton c5" style="width:60px" onclick="print()" data-options="plain:true">打印</a>
    <a href="#" class="easyui-linkbutton c2" style="width:60px" onclick="cancelPrint()" data-options="plain:true">取消</a>
</div>
<div id="dlg" class="easyui-dialog" style="width:800px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="accident" method="post" novalidate style="margin:0; padding:20px 50px">
        <input type="hidden" name="id" required />
        <div class="item">
            <label>
                <span class="red-star">*</span>事故时间：
            </label>
            <input class="easyui-datetimebox" name="happenDate" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>事故地点：
            </label>
            <input class="easyui-textbox" name="happenAddr" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>甲方当事人：
            </label>
            <input class="easyui-textbox" name="firstPartyMan" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>甲方单位/地址：
            </label>
            <input class="easyui-textbox" name="firstPartyAddr" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>乙方当事人：
            </label>
            <input class="easyui-textbox" name="secondPartyMan" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>乙方单位/地址：
            </label>
            <input class="easyui-textbox" name="secondPartyAddr" required>
        </div>


        <div class="item">
            <label>
                丙方当事人：
            </label>
            <input class="easyui-textbox" name="bingPartyMan" id="bingPartyMan">
        </div>
        <div class="item">
            <label>
                丙方单位/地址：
            </label>
            <input class="easyui-textbox" name="bingPartyAddr" id="bingPartyAddr">
        </div>

        <div class="item">
            <label>
                丁方当事人：
            </label>
            <input class="easyui-textbox" name="dingPartyMan" id="dingPartyMan">
        </div>
        <div class="item">
            <label>
                丁方单位/地址：
            </label>
            <input class="easyui-textbox" name="dingPartyAddr" id="dingPartyAddr">
        </div>


        <div class="item">
            <label>
                <span class="red-star">*</span>事故描述：
            </label>
            <input class="easyui-textbox" data-options="multiline:true" style="height:60px" name="accidentDesc" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>调解单位：
            </label>
            <input class="easyui-textbox" name="mediationUnit" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>调解日期：
            </label>
            <input class="easyui-datetimebox" name="mediationDate" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>绘图记录：
            </label>
            <input class="easyui-textbox" name="drawRecorder" required>
        </div>
        <div class="item">
            <label>
                <span class="red-star">*</span>调解员：
            </label>
            <input class="easyui-textbox" name="accidentMediator" required>
        </div>

        <div class="item">
            <label>
                <span class="red-star">*</span>责任认定：
            </label>
            <input class="easyui-textbox" data-options="multiline:true" style="height:60px" name="duty" id="duty" required>

        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="save()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>

<div id="dlg-upload" class="easyui-dialog" style="width:600px;height:300px"
     data-options="closed:true, title:'添加图片',buttons:'#upload-tb',modal:true">
    <form id="upload">
        <div class="item">
            <label>
                <span class="red-star">*</span>图片：
            </label>
            <input type="file" name="files" id="files" accept="image/png, image/jpeg, image/jpg" multiple required />
        </div>
    </form>
</div>
<div id="upload-tb">
    <a href="javascript:upload()" class="easyui-linkbutton">上传</a>
    <a href="javascript:$('#dlg-upload').dialog('close')" class="easyui-linkbutton">取消</a>
</div>

<div id="dlg-img" class="easyui-dialog" title="图片" style="width: 89%; height: 90%; padding: 10px; text-align: center;"
     data-options="
                closed:true,
                modal:true,
				iconCls: 'icon-save',
				toolbar: [{
					text:'添加图片',
					iconCls:'icon-add',
					handler:function(){
						$('#dlg-upload').dialog('open').dialog('center');
					}
				},'-',{
					text:'删除图片',
					iconCls:'icon-remove',
					handler:function(){
					   if (imgNames) {
                            if (imgNames.length > 2) {
                                imgNames.splice(imgIndex, 1);
                                imgIndex = 0;
                                loadImg(imgNames[imgIndex]);
                            }
                       }
                    }
				},'-',{
					text:'上一张',
					handler:function(){
						if (imgIndex > 0 && imgNames && imgNames.length > 1) {
                            imgIndex--;
                            loadImg(imgNames[imgIndex]);
                        }
					}
				},'-',{
					text:'下一张',
					handler:function(){
						if (imgIndex >= 0 && imgNames && imgNames.length > imgIndex + 1 && imgNames[imgIndex + 1] != '') {
                            imgIndex++;
                            loadImg(imgNames[imgIndex]);
                        }
					}
				}],
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:function(){
						$.ajax({
                            url: '/api/TrafficAccidentApi/ModifyImgs',
                            method: 'post',
                            dataType: 'json',
                            data: {
                                id: id,
                                imgUrl: imgNames.join(',')
                            },
                            success: function(result) {
                                if (result.success) {
                                    $.messager.alert('提示','修改成功' );
                                    $('#dlg-img').dialog('close');
                                    $('#dataGrid').datagrid('reload');
                                } else {
                                    $.messager.alert('提示', '修改失败' );
                                }
                            }
                        });
                    }
               },{
                    text:'取消',
                    handler:function(){
                        $('#dlg-img').dialog('close');
                   }
               }]
     ">
    <img id="img-show" />
</div>


@section scripts{
    <script type="text/javascript">
        function print() {
            var body = $('#print').dialog('body');
            var oWin = window.open("", "_blank");
            oWin.document.write(body.find("#content").html());
            oWin.focus();
            oWin.document.close();
            oWin.print();
            oWin.close();
            return false;
        }
        function cancelPrint() {
            $('#print').dialog('close');
        }
        function initPrint() {
            $('#print').dialog({
                width: 600,
                height: 470,
                noheader: true,
                border: false,
                modal: true,
                onLoad: function () {
                    var ckRows = $('#dataGrid').datagrid('getChecked');
                    var data = ckRows[0];
                    var birthday = new Date(data.happenDate);
                    var validdatestart = new Date(data.mediationDate);

                    var body = $('#print').dialog('body');
                    var html = body.html().
                    replace(/_a_man/g, data.firstPartyMan == null ? "" : data.firstPartyMan).
                    replace(/_b_man/g, data.secondPartyMan == null ? "" : data.secondPartyMan).
                    replace(/_a_addr/g, data.firstPartyAddr == null ? "" : data.firstPartyAddr).
                    replace(/_b_addr/g, data.secondPartyAddr == null ? "" : data.secondPartyAddr).
                    replace(/_ac_addr/g, data.happenAddr == null ? "" : data.happenAddr).
                    replace(/_ac_desc/g, data.accidentDesc == null ? "" : data.accidentDesc).
                    replace(/_peace_unit/g, data.mediationUnit == null ? "" : data.mediationUnit).
                    replace(/_ac_peace_man/g, data.accidentMediator == null ? "" : data.accidentMediator).
                    replace(/_ac_recorder/g, data.drawRecorder == null ? "" : data.drawRecorder).
                    replace(/_ac_duty_man/g, data.duty == null ? "" : data.duty).
                    replace(/_ac_date/g, birthday.pattern('yyyy-MM-dd')).
                    replace(/_peace_date/g, validdatestart.pattern('yyyy-MM-dd'));


                    body.html(html);
                },
                href: '/PrintTemplate/TrafficAccidentTemplate.html',
                buttons: '#bb'
            });
            $('#print').dialog('open');
        }
        function showPrint() {
            var ckRows = $('#dataGrid').datagrid('getChecked');
            if (ckRows.length <= 0) {
                $.messager.alert('提示', '请先选中一行需要打印的数据!', 'info');
                return;
            }
            initPrint();
        }
        var imgNames;
        var imgIndex = -1;
        var id = -1;
        $('#dataGrid').datagrid({
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'id', title: '编号', halign: 'center', align: 'left' },
                { field: 'happenDate', title: '事故时间', halign: 'center', align: 'left' },
                { field: 'happenAddr', title: '事故地点', halign: 'center', align: 'left' },
                { field: 'firstPartyMan', title: '甲方当事人', halign: 'center', align: 'left' },
                { field: 'firstPartyAddr', title: '甲方单位/地址', halign: 'center', align: 'left' },
                { field: 'secondPartyMan', title: '乙方当事人', halign: 'center', align: 'left' },
                { field: 'secondPartyAddr', title: '乙方单位/地址', halign: 'center', align: 'left' },
                { field: 'accidentDesc', title: '事故经过', halign: 'center', align: 'left' },
                { field: 'mediationUnit', title: '调解单位', halign: 'center', align: 'left' },
                { field: 'mediationDate', title: '调解时间', halign: 'center', align: 'left' },
                { field: 'drawRecorder', title: '绘图记录', halign: 'center', align: 'left' },
                { field: 'accidentMediator', title: '调解员', halign: 'center', align: 'left' },
                { field: 'operId', title: '登记人', halign: 'center', align: 'left' },
                { field: 'operDate', title: '登记时间', halign: 'center', align: 'left' },
                { field: 'modifyOperId', title: '最近修改人', halign: 'center', align: 'left' },
                { field: 'modifyDate', title: '最近修改时间', halign: 'center', align: 'left' },
                { field: 'imgUrl', hidden: true }
            ]],
            url: '/api/TrafficAccidentApi/ListAccident',
            //toolbar: '#toolbar',
            height: $(window).height()- $('.q-condition').outerHeight()- 30,
            idField: 'id',
            pagination: true,
            pageList: [10, 20, 50],
            fitColumns: true,
            striped: true,
            showHeader: true,
            queryParams: getListParams()
        });

        function getListParams() {
            return {
                id: $('#id').val(),
                happenAddr: $('#happenAddr').val(),
                timeBegin: $('#timeBegin').val(),
                timeEnd: $('#timeEnd').val(),
                firstPartyMan: $('#firstPartyMan').val(),
                secondPartyMan: $('#secondPartyMan').val(),
                accidentMediator: $('#accidentMediator').val(),
                mediationUnit: $('#mediationUnit').val()
            }
        }
        function showPic() {
            var row = $('#dataGrid').datagrid('getSelected');
            if (row) {
                var imgUrl = row.imgUrl;
                id = row.id;
                if (imgUrl && imgUrl.length > 0) {
                    imgNames = imgUrl.split(",");
                    if (imgNames && imgNames.length > 0) {
                        imgIndex = 0;
                        loadImg(imgNames[0]);
                    }
                }
                $('#dlg-img').dialog('open').dialog('center');
            } else {
                $.messager.alert("提示", "请先选择一条记录");
            }
        }

        function loadImg(name) {
            if (name && !name == "" && name.length > 4) {
                $('#img-show').prop('src', '/api/TrafficAccidentApi/getReadImg?imgName=' + name);
            }
        }

        function upload() {
            var formData = new FormData(document.getElementById("upload"));
            formData.append("id", id);
            $.ajax({
                url: "/api/TrafficAccidentApi/AppendAccidentImg",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (ret) {
                    if (ret.success) {
                        $.messager.alert('提示', '添加成功');
                        $('#files').val('');
                        $('#dlg-upload').dialog('close');
                        $('#dlg-img').dialog('close');
                        $('#dataGrid').datagrid('reload');
                    } else {
                        $.messager.alert('提示', '添加失败');
                    }
                }
            });
        }
        function query() {
            $('#dataGrid').datagrid('load', getListParams());
        }
        function del() {
            var rows = $('#dataGrid').datagrid('getSelections');
            if (rows && rows.length > 0) {
                var ids = new Array(rows.length);
                for (var i = 0; i < rows.length; i++) {
                    ids[i] = rows[i].id;
                }
                $.messager.confirm('提示', '请确定要删除编号为' + ids.join(" , ") + '的记录？', function (r) {
                    if (r) {
                        $.ajax({
                            url: '/api/TrafficAccidentApi/DelAccident',
                            method: 'post',
                            dataType: 'json',
                            data: { ids: ids.join(",") },
                            success: function (result) {
                                if (result.success) {
                                    $.messager.alert("提示", "删除成功");
                                    $('#dataGrid').datagrid('reload');
                                } else {
                                    $.messager.alert("提示", "删除失败");
                                }
                            }
                        });
                    }
                });
            } else {
                $.messager.alert("提示", "请先选择至少一条记录");
            }

        }


        function edit() {
            var row = $('#dataGrid').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', '修改记录');
                $('#accident').form('load', row);
            } else {
                $.messager.alert("提示", "请先选择一条记录");
            }
        }

        function save() {
            if ($('#accident').form('validate')) {
                $.ajax({
                    url: '/api/TrafficAccidentApi/ModifyAccident',
                    method: 'post',
                    dataType: 'json',
                    data: $('#accident').serialize(),
                    success: function (result) {
                        if (result.success) {
                            $.messager.alert("提示", "修改成功");
                            $('#dlg').dialog('close');        // close the dialog
                            $('#dataGrid').datagrid('reload');
                        } else {
                            $.messager.alert("提示", "修改失败");
                        }
                    }
                });
            }
        }
    </script>
}