@inherits System.Web.Mvc.WebViewPage
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
<style type="text/css">
        body{
          font-size:12px;
        }
        .textbox,.textbox-text
        {
          -moz-border-radius: 2px 2px 2px 2px;
         -webkit-border-radius: 2px 2px 2px 2px;
          border-radius: 2px 2px 2px 2px;
        }
        .form-horizontal .form-group{
          margin-left:0px;
          margin-right:0px;
        }
        .form-group{
         margin-bottom:5px;
        }
        .red-star{
           color:red;
           font-size:15px;
        }
     
</style>
}

<div class="q-condition">
    <div class="btn-container">
        <a href="#" id="btnQuery" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        <a href="#" id="btnPrint" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="width:120px">打印临时牌照</a>
        <a href="#" id="btnPrintBack" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="width:150px">打印临时行驶证</a>
    </div>
    <hr/>
    <table>
        <tr>
            <td style="width:250px;">姓名：<input class="easyui-textbox" id="name" style="width:150px"></td>
            <td style="width:250px;">车牌号码：<input class="easyui-textbox" style="width:150px" id="car_number"></td>
            <td style="width:100%"></td>
        </tr>
        
    </table>
</div>
<hr />
<div class="q-detail">
    <table id="dgDetail"></table>
</div>
<div id="print" style="display:none;"></div>
<div id="bb" style="display:none;">
    <a href="#" class="easyui-linkbutton c5" style="width:60px" onclick="print()" data-options="plain:true">打印</a>
    <a href="#" class="easyui-linkbutton c2" style="width:60px" onclick="cancelPrint()" data-options="plain:true">取消</a>
</div>
@section scripts{
<script type="text/javascript">
         function print(){
       var body = $('#print').dialog('body');
       var oWin = window.open("", "_blank");
        oWin.document.write(body.find("#content").html());
        oWin.focus();
        oWin.document.close();
        oWin.print();
        //oWin.close();
        return false;
    }
    function cancelPrint(){
      $('#print').dialog('close');
    }
     function getQueryParams(){
        var params = {};
        var car_number = $('#car_number').textbox('getValue');
        var name = $('#name').textbox('getValue');
        params.car_number = car_number;
        params.name = name;

       return params;
     }
        function initPrint(){
            $('#print').dialog({
                    width:650,
                    height:450,
                    noheader:true,
                    border:false,
                    modal:true,
                    onLoad:function(){
                        return;
                         var ckRows = $('#dgDetail').datagrid('getChecked');
                         var data = ckRows[0];
                         var birthday = new Date(data.birthday);
                         var validdatestart = new Date(data.valid_date_start);
                         var validdateend = new Date(data.valid_date_end);
                         var first_get_license_date = new Date(data.first_get_license_date);
                         var body = $('#print').dialog('body');
                         var html = body.html().replace(/_id_no/g,data.id_no).replace(/_user_name/g,data.name).replace(/_birthday_year/g,birthday.getFullYear()).
                         replace(/_birthday_month/g,birthday.getMonth()+1).replace(/_addr/g,data.addr).
                         replace(/_first_get_license_date_year/g,first_get_license_date.getFullYear()).
                         replace(/_first_get_license_date_month/g,first_get_license_date.getMonth()+1).
                         replace(/_first_get_license_date_day/g,first_get_license_date.getDate()).
                         replace(/_permitted_car_type_name/g,data.permitted_car_type_name).
                         replace(/_valid_date_start_year/g,validdatestart.getFullYear()).
                         replace(/_valid_date_start_month/g,validdatestart.getMonth()+1).
                         replace(/_valid_date_start_day/g,validdatestart.getDate()).
                         replace(/_valid_date_end_year/g,validdateend.getFullYear()).
                         replace(/_valid_date_end_month/g,validdateend.getMonth()+1).
                         replace(/_valid_date_end_day/g,validdateend.getDate()).
                         replace(/_photo_path/g,data.user_photo_path==null?'/images/default.jpg':data.user_photo_path);

                         body.html(html);
                    },
                    href:'/PrintTemplate/TempLicenseFontTemplate.html',
                    buttons:'#bb'
       });
     $('#print').dialog('open');
    }
    function initPrintBack(){
            $('#print').dialog({
                    width:820,
                    height:560,
                    noheader:true,
                    border:false,
                    modal:true,
                    onLoad:function(){
                        return;
                         var ckRows = $('#dgDetail').datagrid('getChecked');
                         var data = ckRows[0];
                         var birthday = new Date(data.birthday);
                         var validdatestart = new Date(data.valid_date_start);
                         var validdateend = new Date(data.valid_date_end);
                         var first_get_license_date = new Date(data.first_get_license_date);
                         var body = $('#print').dialog('body');
                         var html = body.html().replace(/_id_no/g,data.id_no).replace(/_user_name/g,data.name).replace(/_birthday_year/g,birthday.getFullYear()).
                         replace(/_birthday_month/g,birthday.getMonth()+1).replace(/_addr/g,data.addr).
                         replace(/_first_get_license_date_year/g,first_get_license_date.getFullYear()).
                         replace(/_first_get_license_date_month/g,first_get_license_date.getMonth()+1).
                         replace(/_first_get_license_date_day/g,first_get_license_date.getDate()).
                         replace(/_permitted_car_type_name/g,data.permitted_car_type_name).
                         replace(/_valid_date_start_year/g,validdatestart.getFullYear()).
                         replace(/_valid_date_start_month/g,validdatestart.getMonth()+1).
                         replace(/_valid_date_start_day/g,validdatestart.getDate()).
                         replace(/_valid_date_end_year/g,validdateend.getFullYear()).
                         replace(/_valid_date_end_month/g,validdateend.getMonth()+1).
                         replace(/_valid_date_end_day/g,validdateend.getDate()).
                         replace(/_photo_path/g,data.user_photo_path==null?'/images/default.jpg':data.user_photo_path);

                         body.html(html);
                    },
                    href:'/PrintTemplate/TempLicenseBackTemplate.html',
                    buttons:'#bb'
       });
     $('#print').dialog('open');
    }
    function initBtn(){
       $('#btnQuery').linkbutton({
         onClick:function(){
            $('#dgDetail').datagrid('reload');
         }

       });
       $('#btnPrint').linkbutton({
         onClick:function(){
             var ckRows = $('#dgDetail').datagrid('getChecked');
             //if(ckRows.length<=0){
             //    $.messager.alert('提示','请先选中一行需要打印的数据!','info');
             //    return ;
             //}
             initPrint();
         }

       });
     $('#btnPrintBack').linkbutton({
         onClick:function(){
             var ckRows = $('#dgDetail').datagrid('getChecked');
             //if(ckRows.length<=0){
             //    $.messager.alert('提示','请先选中一行需要打印的数据!','info');
             //    return ;
             //}
             initPrintBack();
         }

       });
    }
     function initQueryUI(){
    $('#car_type').combobox({
         valueField:'type_no',
         textField:'type_name',
    });
     var  url='../../api/PermittedCarTypeApi/QueryAll';
        $.post(url,{},'json')
       .success(function(ret){
          if(ret.success){
            $('#car_type').combobox('loadData',ret.data);
          }
       });

      }
     function initGrid(){
     //var height = $(window).height()-5;
         var url = "/api/CarNumberApi/queryDrivingPermit";
     $('#dgDetail').datagrid({
           url:url,
           pagination:true,
           pageSize:10,
           pageList:[10,20,30,40,50],
           checkOnSelect:true,
           striped:true,
           showHeader:true,
           checkbox:true,
           singleSelect:true,
           rownumbers:true,
           onBeforeLoad:function(param){
             var otherParams = getQueryParams();
             return $.extend(param,otherParams);
           },
           onLoadError:function(){},
           toolbar: '#toolbar',
           width:'100%',
           height:'100%',
           columns:[[
               {field:'ck',checkbox:true},
               {field:'name',title:'姓名',width:80,halign:'center',align:'left'},
               {field:'sex',title:'性别',width:50,halign:'center',align:'left',formatter:function(value,row,index){
                    if(value=='0'){
                      return '男';
                    }
                    return '女';
               }},
               {
                   field: 'car_type', title: '车型', width: 80, halign: 'center', align: 'left'
               },
               {field:'region_name',title:'地区',width:80,halign:'center',align:'left'},
               { field: 'motor_no', title: '发动机号', width: 180, halign: 'center', align: 'left' },
               { field: 'carframe_no', title: '车架号', width: 180, halign: 'center', align: 'left' },
               { field: 'car_number', title: '车牌号', width: 180, halign: 'center', align: 'left' },

           ]]
     });
    }
    function initUI(){
       initBtn();
       initQueryUI();
       initGrid();

    }

    $(function () {

        initUI();

    })
</script>
}