@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <style type="text/css">

        body {
            font-size: 12px;
        }

        .textbox, .textbox-text {
            -moz-border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .red-star {
            color: red;
            font-size: 15px;
        }

        .form-control {
            height: 30px;
        }

        td {
            vertical-align: middle !important;
            border-top: none !important;
        }

        tr {
            border-bottom: 1px solid #f2f2f2;
        }

        .panel-body {
            border: none;
        }

        .btnContainer {
            height: 36px;
            padding-right: 5px;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #f2f2f2;
        }

            .btnContainer:after {
                overflow: hidden;
            }
        .panel-heading {
            padding: 5px 10px;
        }
    </style>
}
<div class="btnContainer">
    <button type="button" id="btnSave" class="pull-right btn btn-info btn-sm">保存设置</button>
</div>
<div style="overflow-y:auto;min-height:500px;">
    <div class="panel panel-info">
        <div class="panel-heading" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button">
                    1.SMTP邮箱服务器设置
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body container-fluid">
                <table class="table table-condensed" style="table-layout:fixed;border-collapse:collapse;">
                    <tr>
                        <td class="text-right" style="width:120px;"><span class="red-star">*</span>服务器名称:</td>
                        <td>
                            <input type="text" id="email_server_addr" class="form-control" placeholder="例如:smtp.163.com" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><span class="red-star">*</span>邮箱账号:</td>
                        <td>
                            <input type="text" id="email_account" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><span class="red-star">*</span>邮箱密码/授权码:</td>
                        <td>
                            <input type="password" id="email_pwd" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne1">
            <h4 class="panel-title">
                <a role="button">
                    2.联系方式
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body container-fluid">
                <table class="table table-condensed" style="table-layout:fixed;border-collapse:collapse;">
                    <tr>
                        <td class="text-right" style="width:120px;">APP联系帮助电话:</td>
                        <td>
                            <input type="text" id="help_tel" class="form-control"  />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">
        function Save() {
            var data = { add: [], update: [] };
            var email_server_addr = $('#email_server_addr').val();
            var email_server_addr_id = $('#email_server_addr').data('id');
            var email_server_addr_old = $('#email_server_addr').data('oldVal');
            if (email_server_addr_id == undefined) {
                data.add.push({ sys_var_id: 'email_server_addr', sys_var_val: email_server_addr })
            } else {
                if (email_server_addr_old != email_server_addr) {
                    data.update.push({ id: email_server_addr_id, sys_var_id: 'email_server_addr', sys_var_val: email_server_addr})
                }
            }
            

            var email_account = $('#email_account').val();
            var email_account_id = $('#email_account').data('id');
            var email_account_old = $('#email_account').data('oldVal');
            if (email_account_id == undefined) {
                data.add.push({ sys_var_id: 'email_account', sys_var_val: email_account })
            } else {
                if (email_account_old != email_account) {
                    data.update.push({ id: email_account_id, sys_var_id: 'email_account', sys_var_val: email_account })
                }
            }

            var email_pwd = $('#email_pwd').val();
            var email_pwd_id = $('#email_pwd').data('id');
            var email_pwd_old = $('#email_pwd').data('oldVal');
            if (email_pwd_id == undefined) {
                data.add.push({ sys_var_id: 'email_pwd', sys_var_val: email_pwd })
            } else {
                if (email_pwd_old != email_account) {
                    data.update.push({ id: email_pwd_id, sys_var_id: 'email_pwd', sys_var_val: email_pwd })
                }
            }
            var help_tel_id = $('#help_tel').data('id');
            var help_tel = $('#help_tel').val();
            var help_tel_old = $('#help_tel').data('oldVal');
            if (help_tel_id == undefined) {
                data.add.push({ sys_var_id: 'help_tel', sys_var_val: help_tel });
            } else {
                if (help_tel != help_tel_old) {
                    data.update.push({ id: help_tel_id, sys_var_id: 'help_tel', sys_var_val: help_tel })
                }
            }

            var url = "/api/SystemApi/SaveSetting";
            $.post(url, data, 'json')
                .success(function (ret) {
                    if (ret.success) {
                        alert("保存成功！");
                        refreshUI();
                    } else {
                        if ($.trim(ret.message)) {
                            alert(ret.message);
                        }
                    }
                });
        }
        function BindEvent() {
            $('#btnSave').unbind('click').bind('click', function () {
                Save();
            });
        }
        function initData(data) {
            $.each(data, function (inx, item) {
                var key = item.sys_var_id;
                var val = item.sys_var_val;
                var id = item.id;
                var el = $('#' + $.trim(key));
                if (el.length > 0) {
                    el.val(val);
                    $.data(el[0], "id", id);
                    $.data(el[0], 'oldVal', val);
                }

            })
          
        }
        function refreshUI() {
            var url = "/api/SystemApi/QuerySetting";
            $.post(url, {key:''}, 'json').success(function (ret) {
                if (ret.success) {
                    initData(ret.data);
                }
            });
        }
        function initUI() {
            BindEvent();
            refreshUI();
        }
        initUI();
    </script>
}
