@inherits System.Web.Mvc.WebViewPage
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
<style type="text/css">
    body{
      font-size:12px;
    }
    .textbox,.textbox-text
    {
      -moz-border-radius: 2px 2px 2px 2px;
     -webkit-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
    }
    .form-horizontal .form-group{
      margin-left:0px;
      margin-right:0px;
    }
    .form-group{
     margin-bottom:5px;
    }
    .red-star{
       color:red;
       font-size:15px;
    }

</style>
}

<div class="q-condition">
    <div class="btn-container">
        <a href="#" id="btnQuery" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:60px">查询</a>
    </div>
    <hr />
    <table>
        <tr>
            <td style="width:250px;"> 登陆账号：<input class="easyui-textbox" id="login_id" style="width:150px"></td>
            <td style="width:250px;"></td>
            <td style="width:250px;"></td>
            <td style="width:100%"></td>
        </tr>
    </table>
</div>
<hr />

    <table id="dgDetail"></table>


    @section scripts{
<script type="text/javascript">

     function getQueryParams(){
        var params = {};
        var user_id = $('#login_id').textbox('getValue');
        params.login_id=user_id;
       return params;
     }

    function initBtn(){
       $('#btnQuery').linkbutton({
         onClick:function(){
            $('#dgDetail').datagrid('reload');
         }

       });
    }
     function initQueryUI(){
      }
     function initGrid(){
         var height = $(document).height() - $('.q-condition').outerHeight(true) - 15;
     var url = "/api/LogApi/LoginLogQuery";
     $('#dgDetail').datagrid({
           url:url,
           pagination:true,
           pageSize:10,
           pageList:[10,20,30,40,50],
           checkOnSelect:true,
           striped:true,
           showHeader:true,
           checkbox:true,
           singleSelect:true,
           rownumbers:true,
           onBeforeLoad:function(param){
             var otherParams = getQueryParams();
             return $.extend(param,otherParams);
           },
           onLoadError:function(){},
           toolbar: '#toolbar',
           width:'100%',
         height: height,
           columns:[[
               {field:'ip',title:'登陆IP',width:100,halign:'center',align:'left'},
               {field:'login_id',title:'登陆账号',width:80,halign:'center',align:'left'},
               {
                   field: 'login_date', title: '登陆时间', width: 180, halign: 'center', align: 'left', formatter: function (value, row, index) {
                       if (value == undefined) return '';
                       return value.replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                   }
               },
           ]]
     });
    }
    function initUI(){
       initBtn();
       initQueryUI();
       initGrid();
    }

    $(function () {

        initUI();

    })
</script>
    }
