.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #e6e6e6;
  color: #3d28ce !important;
  cursor: default;
}
.datagrid-row-selected {
  background: #dde3f9!important;
  color: #000!important;
}
.panel-header,
.panel-body {
  border-color: #e0e0e0!important;
}

.tree-node-selected {
  background: #464646!important;
  color: #fff!important;
}
.datagrid-header
 {
  background: #F2F2F2 !important;
}
.datagrid-td-rownumber
 {
  background: #fff !important;
}
hr{
    margin:5px 0px;
}
p{
    margin-bottom:2px;
}
.q-condition {
    min-height:120px;
    //background-color:#bbb;
}
.q-condition hr{
    margin-top:2px;
}
.q-detail{
    min-height:470px;
}
.line-default{
    background-color:#393D49;
    height:1px;
    margin:0px;
}
.q-condition .l-btn{
    background:#f3f3f3 !important;
    border:none!important;
    border:2px !important;
}
.q-condition .textbox .textbox-text
{
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 0 2px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  height: 24px;
  line-height: 24px;
}

.q-condition>table{
    height:100%;
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}
@media print {
    .noprint {
        visibility: hidden;
    }
