@inherits System.Web.Mvc.WebViewPage
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
@section HeaderStyle{
<style type="text/css">
    body{
      font-size:12px;
    }
    .textbox,.textbox-text
    {
      -moz-border-radius: 2px 2px 2px 2px;
     -webkit-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
    }
    .form-horizontal .form-group{
      margin-left:0px;
      margin-right:0px;
    }
    .form-group{
     margin-bottom:5px;
    }
    .red-star{
       color:red;
       font-size:15px;
    }
</style>
}
<div style="padding-left:10px;"><span style="color:blue">提示:</span>带<span class="red-star">*</span>号为必填项</div>
<hr style="margin-top:0px;" />
<table style="table-layout:fixed;margin-left:10px;margin-right:10px;margin-top:20px;width:98%;height:350px;">
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>驾驶证编号:</td>
        <td style="width:200px;"><input id="zs_no"></input></td>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>身份证号码:</td>
        <td style="width:100%;"><input id="id_no"></input></td>
    </tr>
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>姓名:</td>
        <td style="width:100%;"><input id="name"></input></td>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>性别:</td>
        <td style="width:200px;"><input id="sex"></input></td>
        
    </tr>
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>出生日期:</td>
        <td style="width:100%;"><input id="birth_date"></input></td>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>地区:</td>
        <td style="width:200px;"><input id="region"></input></td>
    </tr>
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>住址:</td>
        <td style="width:200px;"><input id="now_addr"></input></td>
        <td style="width:120px;text-align:right;">单位:</td>
        <td style="width:100%;"><input id="work_unit"></input></td>
    </tr>
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>准驾车型:</td>
        <td style="width:200px;"><input id="car_type"></input></td>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>初次领证日期:</td>
        <td style="width:100%;"><input id="first_get_license_date"></input></td>
    </tr>
    <tr>
        <td style="width:120px;text-align:right;"><span class="red-star">*</span>有效期:</td>
        <td colspan="3" style="width:200px;"><input id="start_date"></input>&nbsp;&nbsp;至&nbsp;&nbsp;<input id="end_date"></input></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr>
        <td colspan="3"></td>
        <td style="padding-left:20px;">
            <button type="button" class="btn btn-primary btn-sm" style="width:78px">清空</button>
            <button type="button" class="btn btn-info btn-sm" style="width:78px">提交</button>
        </td>
    </tr>
</table>

@section scripts{
<script type="text/javascript">
    function initUI(){
      $('#zs_no').textbox({
          width:180,
          required:true
      });
    $('#id_no').textbox({
          width:180,
          required:true
      });
    $('#name').textbox({
          width:180,
          required:true
      });
    $('#sex').combobox({
         valueField:'id',
         width:180,
         panelHeight:70,
         editable:false,
         textField:'text',
         data:[{id:0,text:'男'},{id:1,text:'女'}]
    });
     $('#birth_date').datebox({
          width:180,
          panelWidth:180,
          panelHeight:180,
          editable:false,
          required:true
      });
     $('#region').combobox({
         valueField:'region_no',
         width:180,
         panelHeight:70,
         editable:false,
         textField:'region_name',
    });
      var url='../../api/RegionApi/QueryAll';
       $.post(url,{},'json')
       .success(function(ret){
          if(ret.success){
            $('#region').combobox('loadData',ret.data);
          }
       });
       $('#now_addr').textbox({
          width:180,
          required:true
      });
       $('#work_unit').textbox({
          width:180,
      });
       $('#car_type').combobox({
         valueField:'type_no',
         width:180,
         editable:false,
         textField:'type_name',
    });
      url='../../api/PermittedCarTypeApi/QueryAll';
        $.post(url,{},'json')
       .success(function(ret){
          if(ret.success){
            $('#car_type').combobox('loadData',ret.data);
          }
       });
      $('#first_get_license_date').datebox({
          width:180,
          panelWidth:180,
          panelHeight:180,
          editable:false,
          required:true
      });
     var now = new Date();
        $('#start_date').datebox({
          width:180,
          panelWidth:180,
          panelHeight:180,
          editable:false,
          required:true,
          value:now.pattern('yyyy-MM-dd'),
          onSelect:function(date){
            var endDate = new Date(date.getFullYear(),date.getMonth()+6,date.getDate());
            $('#end_date').datebox('setValue',endDate.pattern('yyyy-MM-dd'));
         }
      });
      var end = new Date(now.getFullYear(),now.getMonth()+6,now.getDate());
        $('#end_date').datebox({
          width:180,
          panelWidth:180,
          panelHeight:180,
          editable:false,
          required:true,
          value:end.pattern('yyyy-MM-dd'),
      });
    }







    $(function(){
       initUI();
    })
</script>
}

