
@{
    ViewBag.Title = "Welcome";
}
<style>
    html,body{
        margin:0px;
        padding:0px;
        
    }
    html{
        height:100%;
    }
    body {
        margin-right: 4px;
        background-color: #f1aaaa;
        text-align:center;
        vertical-align:middle;
        background:url(../../images/car.jpg) no-repeat;
        background-size:100% 100%;
    }
    .copyright {
        position: absolute;
        bottom: 0px;
        height: 30px;
        line-height:30px;
        background-color: #eaeaea;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
</style>
<h2>佤邦司法委交通警察车辆管理</h2>

<div class="copyright">© 2018 湖南千蓝软件 联系电话:15219463258</div>

